
alias p="pnpm"
alias s="source ~/.zshrc"
alias v="nvim"
alias vv="v ."

alias ls='ls -F'
alias l='ls'
alias la='ls -AF'
alias ll='ls -AFhl'
alias hl='rg --passthru'

## Flutter FVM
alias flutter='fvm flutter'
alias dart='fvm dart'

killport() {
  pid=$(lsof -ti :$1)
  if [ -n "$pid" ]; then
    kill -9 $pid
    echo "Killed process on port $1 (PID: $pid)"
  else
    echo "No process found on port $1"
  fi
}

# clearcpuid=517 needed for fixing the android emulator cant run on intel chip
emulator() { ~/Library/Android/sdk/emulator/emulator -avd "$@" -qemu -append "clearcpuid=517"; }


alias claude='TERM_PROGRAM=iTerm.app claude --dangerously-skip-permissions --mcp-config .mcp.json'
