[[ -s "~/.gvm/scripts/gvm" ]] && source "~/.gvm/scripts/gvm"
export VOLTA_HOME="$HOME/.volta"
export PATH="$HOME/.local/bin:$PATH"
export PATH="$VOLTA_HOME/bin:$PATH"
export PATH="$HOME/.bun/bin:$PATH"
export PATH="/Users/afarasadi/.fvm_flutter/bin:$PATH"
export ANDROID_HOME="$HOME/Library/Android/sdk"
export PATH=$PATH:$ANDROID_HOME/tools:$ANDROID_HOME/tools/bin:$ANDROID_HOME/platform-tools
export PATH="$HOME/Library/Python/3.9/bin:$PATH"
export PATH="/usr/local/opt/mysql-client/bin:$PATH"


# disable nx terminal ui
export NX_TUI=false

# Maestro disable AI Notification
export MAESTRO_CLI_ANALYSIS_NOTIFICATION_DISABLED=true

## [Completion] FVM
## Completion scripts setup. Remove the following line to uninstall
[[ -f /Users/afarasadi/.dart-cli-completion/zsh-config.zsh ]] && . /Users/afarasadi/.dart-cli-completion/zsh-config.zsh || true
## [/Completion]


# cargo
. "$HOME/.cargo/env"

#THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"
